{% extends "base.html" %}
{% load static %}
{% block title %}Выпускники{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/pages/index.css' %}">
{% endblock css %}
{% block header %}
    {% include "includes/navbar.html" %}
{% endblock header %}
{% block main_title %}Выпускники{% endblock %}
{% block content %}

    {% for graduate in page %}
        {% include "includes/graduateElem.html" with graduate=graduate %}
    {% endfor %}

{% endblock content %}
{% block paginator %}
    {% if page.has_other_pages %}
        {% include "includes/pagination.html" with items=page paginator=paginator %}
    {% endif %}
{% endblock %}
{% block js %}
    <script src="{% static 'js/components/MainCards.js' %}"></script>

    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static 'js/components/Favorites.js' %}"></script>

    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/CardList.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>

    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/template/indexNotAuth.js' %}"></script>
    <script src="{% static 'js/template/indexAuth.js' %}"></script>
{% endblock js %}